# the repo https://github.com/stefanpl/bash-utils contains a folder called utils. The full path to this folder is expected here.
BASH_UTILS_LOCATION=~/bash-utils/utils

# this expression must match against one entry of `xinput list`. This entry must represent the touchpad.
TOUCHPAD_REGEX=touchpad
